body {
  background: #121212;
}

.container {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;

  .row {
    align-items: center;
    height: auto;
    max-height: 100%;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background: #f5f5f5;
    position: relative;

    .col-md-6:nth-child(1) {
      .img-fluid {
        width: 250px;
        height: 250px;
      }
    }

    .col-md-6:nth-child(2) {
      .form-floating {
        display: flex;
        width: 100%;
      }

      .text-muted {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(-50%, -50%);
      }

      .title {
        text-transform: uppercase;
        font-size: clamp(1rem, 0.8239rem + 0.7512vw, 1.5rem);
      }

      button {
        border-radius: 0.375rem;
        border: 1px solid #ced4da;

        .img-fluid {
          width: 60px;
          height: 50px;
        }
      }

      .display-value {
        height: 300px;
        overflow-y: scroll;
        .btn-danger {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
